       body{
          background-color: black;
          color: white;
        }
       div#one {
            width: 100px;
            height: 50px;
            background-color: black;
        }
        span#blackamazon{
            opacity: 0;
            transition: opacity .5s;
        }
        span#blackamazon.show{
            opacity: 1;
        }
        div #details{  
            position: absolute; 
            top: 75px; right: 50px; 
            width: 66%; height: 66%; 
            float: left; 
            border: 1px solid white;
            font-family: Arial, sans serif;
        }
        #jqueryexample tr{
            height: 50px;
        }
        #jqueryexample tr:hover{
            background-color: #facade;
        }
        #jqueryexample{
            width: 200px;
        }
